*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-1;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: $dark;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: $font-2;
}

::-moz-selection {
  color: $white;
  background: $accent;
}
::selection {
  color: $white;
  background: $accent;
}

::placeholder {
  color: $text3;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

*:focus {
  text-decoration: none;
  outline: none;
}
a {
  text-decoration: none;
  color: $dark;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active,
*:focus,
a:focus h1,
a:hover h1,
a:active h1,
a:focus h2,
a:hover h2,
a:active h2,
a:focus h3,
a:hover h3,
a:active h3,
a:focus h4,
a:hover h4,
a:active h4,
a:focus h5,
a:hover h5,
a:active h5,
a:focus h6,
a:hover h6,
a:active h6 {
  color: $accent;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.hover:hover {
  text-decoration: underline;
  transition-duration: 0.2s;
}
a.hover-1 {
  text-decoration: none;
  background-image: linear-gradient(#999999, #999999);
  background-position: 1% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}
a.hover-2:hover {
  text-decoration: none;
  background-size: 100% 2px;
}
a.hover-2 {
  text-decoration: none;
  background-image: linear-gradient(#f1f1f1, #f1f1f1);
  background-position: 1% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}
a.hover-2:hover {
  text-decoration: none;
  background-size: 100% 50px;
}
a.hover-3:hover {
  margin-left: 3px;
  transition-duration: 0.2s;
}
a.hover-4:hover {
  padding-bottom: 3px;
  transition-duration: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
}

.font-weight-200,
.fw-200 {
  font-weight: 200 !important;
}
.font-weight-light,
.fw-300 {
  font-weight: 300 !important;
}
.font-weight-lighter,
.fw-lighter {
  font-weight: lighter !important;
}
.font-weight-normal,
.fw-400 {
  font-weight: 400 !important;
}
.font-weight-500,
.fw-500 {
  font-weight: 500 !important;
}
.font-weight-600,
.fw-600 {
  font-weight: 600 !important;
}
.font-weight-bold,
.fw-bold {
  font-weight: 600 !important;
}
.font-weight-800,
.fw-800 {
  font-weight: 800 !important;
}
.font-weight-900,
.fw-900 {
  font-weight: 900 !important;
}
.font-weight-ultra,
.fw-ultra {
  font-weight: 900 !important;
}
.font-weight-bolder,
.fw-bolder {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic !important;
}

.font-10 {
  font-size: 0.625rem !important;
}
.font-11 {
  font-size: 0.688rem !important;
}
.font-12 {
  font-size: 0.75rem !important;
}
.font-13 {
  font-size: 0.813rem !important;
}
.font-14 {
  font-size: 0.875rem !important;
}
.font-15 {
  font-size: 0.938rem !important;
}
.font-16 {
  font-size: 1rem !important;
}
.font-17 {
  font-size: 1.063rem !important;
}
.font-18 {
  font-size: 1.125rem !important;
}
.font-19 {
  font-size: 1.188rem !important;
}
.font-20 {
  font-size: 1.25rem !important;
}
.font-21 {
  font-size: 1.313rem !important;
}
.font-22 {
  font-size: 1.375rem !important;
}
.font-23 {
  font-size: 1.438rem !important;
}
.font-24 {
  font-size: 1.5rem !important;
}
.font-25 {
  font-size: 1.563rem !important;
}

.font-xs {
  font-size: 0.688rem !important;
}
.font-sm {
  font-size: 0.75rem !important;
}
.font-md {
  font-size: 0.938rem !important;
}
.font-lg {
  font-size: 1.25rem !important;
}

.lh-1 {
  line-height: 1;
}
.lh-2 {
  line-height: 1.2;
}
.lh-3 {
  line-height: 1.3;
}
.lh-4 {
  line-height: 1.4;
}
.lh-5 {
  line-height: 1.5;
}

.text-decoration-none {
  text-decoration: none !important;
}
.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.word-break-all {
  word-break: break-all !important;
}
.text-reset {
  color: inherit !important;
}

.text-limit-1-row {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
}
.text-limit-2-row {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}
.text-limit-3-row {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
}
.text-limit-4-row {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
}
.text-limit-5-row {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical;
}

.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.text-light {
  color: $light !important;
}
.text-dark {
  color: $dark !important;
}

.text-accent {
  color: $accent !important;
}
.text-accent2 {
  color: $accent2 !important;
}
.text-second {
  color: $second !important;
}
.text-second2 {
  color: $second2 !important;
}
.text-text {
  color: $text !important;
}
.text-text1 {
  color: $text2 !important;
}
.text-text2 {
  color: $text3 !important;
}

.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}
.opacity-none {
  opacity: 1;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.p-absolute {
  position: absolute !important;
}
.p-relative {
  position: relative !important;
}

.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}

ol {
  padding: 0;
  margin: 0;
}
ol li {
  list-style: decimal inside !important;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.938rem;
}

.list-style .list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.list-check li {
  position: relative;
  padding-left: 1.525rem;
}
.list-check li:before {
  font-family: $fontawesome;
  content: "\f00c";
  position: absolute;
  top: 0.1rem;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(54, 179, 127, 0.08);
  font-weight: 900;
  font-size: 0.625rem;
  color: $accent;
}

.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-accent {
  background: $accent !important;
}
.bg-second {
  background: $second !important;
}
.bg-dark {
  background: $dark !important;
}
.bg-light {
  background: $light !important;
}
.bg-black {
  background: $black !important;
}
.bg-white {
  background: $white !important;
}

img {
  width: 100%;
  height: 100%;
}
.img-contain {
  object-fit: contain;
  position: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.img-cover {
  object-fit: cover;
  position: 50% 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.img-cover.hover-scale {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.img-hover-scale {
  overflow: hidden;
  position: relative;
}
.img-hover-scale img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.img-hover-scale:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hv-img-zoom {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-img-zoom:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hv-zoom {
  position: relative;
  overflow: hidden;
}
.hv-zoom img:not(.fix) {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-zoom:hover img:not(.fix) {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hv-shadow-sm {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-shadow-sm:hover,
.hv-shadow-sm:focus {
  box-shadow: 0 0.24rem 0.625rem rgba(0, 0, 0, 0.0786943);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-shadow {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-shadow:hover,
.hv-shadow:focus {
  box-shadow: 0 0.625rem 2.813rem rgba(0, 0, 0, 0.0986943);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hv-trigger {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hv-trigger:hover,
.hv-trigger:focus {
  background: $light !important;
}

.hv-underline {
  display: block;
  position: relative;
  padding: 0;
}
.hv-underline:hover {
  text-decoration: none;
}
.hv-underline:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.hv-underline:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: $second;
  transition: width 0.25s ease;
}
.hv-underline:hover:before {
  width: 100%;
  background: $second;
  transition: width 0.25s ease;
}
.hv-underline:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.shadow-md {
  box-shadow: 0 0.25rem 0.5rem rgba(192, 189, 189, 0.25);
}
.shadow-none {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.separator {
  border-top: 1px solid $light;
}
hr {
  border-bottom: 1px solid $light;
  border-top: 0 none;
  padding: 0;
}

.trans-4,
.trans-4:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.section-lg {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media (max-width: 767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.section-md {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  @media (max-width: 767px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
.section-sm {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @media (max-width: 767px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.section-xs {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  @media (max-width: 767px) {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
  }
}


/* ------------------------------------ general class ------------------------------------ */
.mh-100 {
  min-height: 100vh;
}
.wrap-main {
  position: relative;
  overflow: hidden;
}
.wrap-main .page-cover {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.wrap-bg-mid {
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
}
.primary {
  position: relative;
}

@media (max-width: 992px) {
  .primary {
    padding-top: 70px;
  }
}


.section-subheading {
  font-family: $font-2;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  color: $text3;
}
.section-subheading-xs {
  font-family: var(--font2);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #595959;
}

.section-heading-lg {
  font-weight: bold;
  font-size: 2.955rem;
  line-height: 1.2;
  color: var(--dark);
}
.section-heading {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 1.3;
  color: var(--dark);
}
.section-heading-sm {
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1.3;
  color: var(--dark);
}
.section-heading-xs {
  font-weight: bold;
  font-size: 1.563rem;
  line-height: 1.3;
  color: var(--dark);
}
.section-description-lg {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.5;
  color: var(--text3);
}
.section-description {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text3);
}
.section-description-md {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text3);
}
.section-description-sm {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--text3);
}
.section-description-xs {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--text3);
}
.section-description-xxs {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 1.5;
  color: var(--text3);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .section-heading-lg {
    font-size: 2.955rem;
  }
  .section-heading {
    font-size: 2.375rem;
  }
  .section-description {
    font-size: 1.125rem;
  }
  .section-description-md {
    font-size: 1rem;
  }
  .section-description-sm {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-heading-lg {
    font-size: 2.955rem;
  }
  .section-heading {
    font-size: 2.375rem;
  }
  .section-description {
    font-size: 1.125rem;
  }
  .section-description-md {
    font-size: 1rem;
  }
  .section-description-sm {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-heading-lg {
    font-size: 2rem;
  }
  .section-heading {
    font-size: 2.188rem;
  }
  .section-heading-sm {
    font-size: 28px;
  }
  .section-description {
    font-size: 1rem;
  }
  .section-description-md {
    font-size: 0.935rem;
  }
  .section-description-sm {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-heading-lg {
    font-size: 1.9rem;
  }
  .section-heading {
    font-size: 1.625rem;
  }
  .section-heading-sm {
    font-size: 1.5rem;
  }
  .section-heading-xs {
    font-size: 1.25rem;
  }
  .section-description {
    font-size: 0.938rem;
  }
  .section-description-md {
    font-size: 0.875rem;
  }
  .section-description-sm {
    font-size: 0.813rem;
  }
  .section-description-xs {
    font-size: 0.625rem;
  }
  .section-description-xxs {
    font-size: 0.563rem;
  }
}

@media (max-width: 767px) {
  .section-heading-lg {
    font-size: 1.9rem;
  }
  .section-heading {
    font-size: 1.625rem;
  }
  .section-heading-sm {
    font-size: 1.5rem;
  }
  .section-heading-xs {
    font-size: 1.25rem;
  }
  .section-description {
    font-size: 0.938rem;
  }
  .section-description-md {
    font-size: 0.875rem;
  }
  .section-description-sm {
    font-size: 0.813rem;
  }
  .section-description-xs {
    font-size: 0.625rem;
  }
  .section-description-xxs {
    font-size: 0.563rem;
  }
}

.row-mobi-style {
}

@media (max-width: 768px) {
  .row-mobi-style .col:nth-child(odd) {
    padding-right: 0.5rem;
  }
  .row-mobi-style .col:nth-child(even) {
    padding-left: 0.5rem;
  }
}
@media (max-width: 300px) {
  .row-mobi-style.style-1 .col {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.section-title {
  margin-bottom: 1.875rem;
}
.section-title .subheading {
  margin-bottom: 0.625rem;
}
.section-title h2 {
  font-weight: normal;
  color: var(--accent);
}
.section-title h2 span {
  font-weight: 800;
}

/*scrollable*/
.scrollable {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
}
.scrollable::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
  border-radius: 2.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.scrollable::-webkit-scrollbar-thumb {
  background: rgba(195, 195, 195, 0);
  border-radius: 2.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.scrollable:hover::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.8);
  -webkit-box-shadow: inset 0 0.313rem 0.5rem rgba(241, 241, 241, 1);
  box-shadow: inset 0 0.313rem 0.5rem rgba(241, 241, 241, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.scrollable:hover::-webkit-scrollbar-thumb {
  background: rgba(195, 195, 195, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.scrollable::-webkit-scrollbar-thumb:horizontal:hover,
.scrollable::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(195, 195, 195, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.h-scrollable {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.more-link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2;
  color: #159eec;
  z-index: 4;
}

.more-link.more-link-arrow {
  position: relative;
  padding-right: 1.563rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-link.more-link-arrow:hover {
}
.more-link.more-link-arrow:before {
  /*content: '';*/
  /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABnSURBVHgBzZLBDYAgEASX2IBW4JViB5YkVmBLduHTUnSJGHyYAMcDJpnX5TaXzXWI09ODDnSHAhdw0otaKJF2Qwyd/CCVEeGC1fg0NS5gxtN0KvK5wCITQehgQSZSbRmly+8rb3/DG4d9GvfF0YHlAAAAAElFTkSuQmCC');*/
  /*background-repeat: no-repeat;*/
  content: "\e628";
  font-family: "themify";
  position: absolute;
  top: 0.313rem;
  right: 0;
  width: 1.25rem;
  font-weight: bold;
  font-size: 0.938rem;
  line-height: 1;
  color: var(--accent2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-link.more-link-arrow:hover:before {
  right: -0.5rem;
}
.more-link .icon {
  position: absolute;
  top: 2px;
  margin-left: 0.625rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-link:hover .icon {
  margin-left: 0.938rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .more-link {
    font-size: 0.875rem;
  }
  .more-link.more-link-arrow:before {
    top: 0.25rem;
    font-size: 0.813rem;
  }
}
/* ------------------------------------ end general class ------------------------------------ */