#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.8);
  overflow: hidden;
  position: relative;
  z-index: 5;

  .swiper .swiper-wrapper .swiper-slide {
    transition-property: opacity;
    background-position: center top;
  }
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 10px;
      text-align: center;
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: $accent;
        border-radius: 10px;
        opacity: 1;
        transition: 0.3s;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &.swiper-pagination-bullet-active {
          background-color: $second;
        }
      }
    }
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: $accent;
    border-radius: 50px;
    transition: 0.3s;
    color: $white;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      font-weight: 900;
      font-size: 20px;
    }
    &:hover {
      background: $accent;
      color: $second;
    }
  }
  @media (max-width: 992px) {
    height: 40vh;
  }
}
// #hero {
//   width: 100%;
//   height: 100vh;
//   background-color: rgba(60, 60, 60, 0.8);
//   overflow: hidden;
//   position: relative;
//   .carousel,
//   .carousel-inner,
//   .carousel-item,
//   .carousel-item::before {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//   }
//   .carousel-item {
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
//   }
//   .carousel-inner .carousel-item {
//     transition-property: opacity;
//     background-position: center top;
//   }
//   .carousel-inner .carousel-item,
//   .carousel-inner .active.carousel-item-start,
//   .carousel-inner .active.carousel-item-end {
//     opacity: 0;
//   }
//   .carousel-inner .active,
//   .carousel-inner .carousel-item-next.carousel-item-start,
//   .carousel-inner .carousel-item-prev.carousel-item-end {
//     opacity: 1;
//     transition: 0.5s;
//   }
//   .carousel-inner .carousel-item-next,
//   .carousel-inner .carousel-item-prev,
//   .carousel-inner .active.carousel-item-start,
//   .carousel-inner .active.carousel-item-end {
//     left: 0;
//     transform: translate3d(0, 0, 0);
//   }
//   .carousel-control-next-icon,
//   .carousel-control-prev-icon {
//     background: none;
//     font-size: 30px;
//     line-height: 0;
//     width: auto;
//     height: auto;
//     background: $accent;
//     border-radius: 50px;
//     transition: 0.3s;
//     color: $white;
//     width: 54px;
//     height: 54px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     &:hover {
//       background: $accent;
//       color: $second;
//     }
//   }
//   .carousel-indicators li {
//     list-style-type: none;
//     cursor: pointer;
//     background: #fff;
//     overflow: hidden;
//     border: 0;
//     width: 12px;
//     height: 12px;
//     border-radius: 50px;
//     opacity: 0.6;
//     transition: 0.3s;
//     &.active {
//       opacity: 1;
//       background: $accent;
//     }
//   }
//   @media (max-width: 992px) {
//     height: 40vh;
//   }
//   @media (max-height: 500px) {
//     height: 160vh;
//   }
// }

// @media (min-width: 1024px) {
//   #hero .carousel-control-prev,
//   #hero .carousel-control-next {
//     width: 5%;
//   }
// }
